@{
    ViewBag.Title = "Home Page";
}
@model List<WebNetFrameWork.Models.BookModels>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>LỚP BACKEND NET MR QUÂN</p>
</div>
<input type="text" class="form-control" placeholder="nhập tên sách"/>
<button class="btn btn-success">Thêm</button>
<table class="table">
    <thead>
        <tr>
            <th>BookId</th>
            <th>BookName</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookID</td>
                    <td>@item.BookName</td>
                </tr>
            }
        }
    </tbody>
</table>