@{
    ViewBag.Title = "Home Page";
}
@model List<WebNetFrameWork.Models.BookModels>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>LỚP BACKEND NET MR QUÂN</p>
</div>
<style>
    .border {
        border: 1px solid red
    }

    .form-control_style {
        display: block;
      /*  width: 100%;*/
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .btn_left{
        margin-left:-15px;
    }
</style>
<div class="row">
    <form action="/action_page.php">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>



<div class="row" style="margin-top:10px;">
    <div class="col-md-2"></div>
    <div class="col-md-4"><button class="btn btn-success col-md-3 btn_left">Thêm</button></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>BookId</th>
            <th>BookName</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.BookID</td>
                    <td>@item.BookName</td>
                </tr>
            }
        }
    </tbody>
</table>