@{
    ViewData["Title"] = "Home Page";
}
<style>
    .row_marging {
        margin-top: 5px;
    }
</style>



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sản phầm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row row_marging">
            <div class="col-md-3 row_marging">
                <input type="text" id="txtBookName" value="" class="form-control" placeholder="Tên phân loại" />
            </div>
            <div class="col-md-3 row_marging">
                <select id="ddlCategory" class="form-control">
                    <option value="0">Tất cả</option>
                </select>
            </div>
            <div class="col-md-3 row_marging">
                <input type="text" id="txtFromDate" value="@DateTime.Now.AddDays(-90).ToString("dd/MM/yyyy")" class="form-control" placeholder="giá" />
            </div>
            <div class="col-md-3 row_marging">
                <input type="text" id="txtTodate" value="@DateTime.Now.ToString("dd/MM/yyyy")" class="form-control" placeholder="giá" />
            </div>
        </div>
        <div class="row row_marging">
            <div class="col-md-12 row_marging">

                <button type="button" class="btn btn-success"> <i class="fa fa-plus"></i>Thêm mới </button>
                <button type="button" id="btnSearch" class="btn btn-default"> <i class="fa fa-search"></i>Tìm kiếm </button>
            </div>
        </div>
        <div class="row row_marging">
            <div class="col-md-12">
                <h2 class="card-title">Danh sách BOOK</h2>

                <div id="ListBookPartialView"></div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@section Scripts{
    <script>
        $(document).ready(function() {

            LoadData();

            $("#btnSave").click(function() {

            });
            $("#btnSearch").click(function() {
                LoadData();
            });
        });

        function LoadData() {

            var from = $("#txtFromDate").val();
            var to = $("#txtTodate").val();
            if (from == null || from == "") {
              //  alert("thời gian bắt đầu không được trống");
                Swal.fire("thời gian bắt đầu không được trốn!");
                return;
            }
            if (to == null || to == "") {
                alert("thời gian kết thúc không được trống");
                Swal.fire("SweetAlert2 is working!");
                return;
            }

            var param = {

                BookName: $("#txtBookName").val(),
                CategoryID: $("#ddlCategory").val(),
                publishDateFrom: $("#txtFromDate").val() + " 00:00:00",
                publishDateTo: $("#txtTodate").val() + " 23:59:59"

            };

            $.ajax({
                type: 'POST',
                url: "/Book/ListBookPartialView",
                data: param,
                async: true,
                dataType: "html",
                // dataType:"json",
                success: function(rs) {
                    $("#ListBookPartialView").html("");
                    $("#ListBookPartialView").html(rs);
                       var code = $("#txtErrorCodeResponseFromServer").val();
                        var mes = $("#txtErrorResponseFromServer").val();
                    debugger;
                        if (code == 404) {
                            window.location.href = "/Account/Login";
                        } else {
                            setTimeout(function() {
                       
                      
                            Swal.fire({
                                title: "Good job!",
                                text: mes,
                                icon: "success"
                            });
                        }, 500);
                        }
                },
                error(rs) {
                    console.log(JSON.stringify(rs));
                }
            });
        }
    </script>
        }
